#output img, #game img {
    width:100%;
  }
  
  @media(min-width:960px){
    #output .col-md-3 .well{
      height: auto;
    }
  
    #output .col-md-3 img{
      height:240px;
    }
  }

  .card {
    margin: 1rem;
  }

  h2 {
   font-size: 1rem; 
  }

  @media(min-width:960px){
  .grow { transition: all .2s ease-in-out; }
  .grow:hover { transform: scale(1.1); }
  }