#output img, #game img {
    width:100%;
  }
  
  @media(min-width:960px){
    #output .col-md-3 .well{
      height: 390px;
    }
  
    #output .col-md-3 img{
      height:240px;
    }
  }

  .card {
    margin: 1rem;
  }

  h2 {
   font-size: 2rem; 
  }